<section>
  <div style="border:solid 1px red;" *ngFor="let dishList of mealList">
    <div class="clearAfter" *ngFor="let item of dishList">
      <div class="dishItem clearAfter">
        <div class="photo"></div>
        <div class="itemName">{{item.id}} {{item.dish.description}}</div>
        
      </div> 
      <div class="dishButtons clearAfter">
        <section class="boxes clearAfter">
          <div class="greenBox" (click)="updateStatusDone(item)"></div>
          <div class="orangeBox" title="change status" (click)="updateStatusInP(item)"></div>
          <div class="redBox" title="delete" (click)="deleteDish(item.id)"></div>
        </section>
      </div>
    </div>
  </div>




  <!-- <section class="meal" *ngFor="let dishList of mealList">
    <section class="" *ngFor="let item of dishList">
      <div class="photo"></div>
      <div class="itemName">{{item.id}}</div>
      <div class="itemName">{{item.dish.description}}</div>
      <section class="boxes">
        <div class="greenBox" (click)="updateStatusDone(dish)"></div>
        <div class="orangeBox" title="change status" (click)="updateStatusInP(dish)"></div>
        <div class="redBox" title="delete" (click)="deleteDish(dish.id)"></div>
      </section>
    </section>
  </section> -->
</section>