<section>
    <section class="meal" *ngFor="let meal of someTest">
      <div>
        <div *ngFor="let dishs of meal">
          <div (click)="getDishes(dishs.mealId)"> {{dishs.category}}</div>

          <div id="{{dishs.mealId}}" style="border:solid 1px red;width:300px;height:150px;display:none;">
              <div *ngFor="let dish of someDishes">
                {{dish.description}}
              </div>
          </div>
        </div>
      </div>
    </section>


<!-- 
    <div class="photo"></div>
      <div class="itemName">{{dish.name}}</div>
      <div class="itemName">{{dish.description}}</div>
      <section class="boxes">
        <div class="greenBox" (click)="updateStatusDone(dish)"></div>
        <div class="orangeBox" title="change status" (click)="updateStatusInP(dish)"></div>
      </section>
      <section class="greyBox">
      <div class="itemName">{{dish.name}}</div>
      <div class="itemName">{{dish.description}}</div>
      <section class="boxes">
        <div class="greenBox" (click)="updateStatusDone(dish)"></div>
        <div class="orangeBox" title="change status" (click)="updateStatusInP(dish)"></div>
      </section> -->
  
  
    <!-- <section class="meal" *ngFor="let dish of test">
        <div class="photo"></div>
        <div class="itemName">{{dish.name}}</div>
        <div class="itemName">{{dish.description}}</div>
        <section class="boxes">
          <div class="greenBox" (click)="updateStatusDone(dish)"></div>
          <div class="orangeBox" title="change status" (click)="updateStatusInP(dish)"></div>
        </section>
    </section> -->
  </section>