<section>
    <ul style="list-style-type: none">
      <li>Cheker
        <div class="Box" (click)="goToCheker()"></div>
      </li>
      <li>Oven
        <div class="Box" (click)="goToOven()"></div>
      </li>
      <li>Stove
        <div class="Box" (click)="goToStove()"></div>
      </li>
      <li>Hotplate
        <div class="Box" (click)="goToHotplate()"></div>
      </li>
      <li>Coldplate
        <div class="Box" (click)="goToColdplate()"></div>
      </li>
      <li>Drinks
        <div class="Box" (click)="goToDrinks()"></div>
      </li>
    </ul>
</section>